@import "./themes/casino";
@import "./themes/slot";

.hm-slider {  
  box-sizing: border-box;
  display: flex;
  width: 100%;
  position: relative; // COMMON STYLES
  &__underlay {
    width: 100%;
  }
  &__trigger-1,
  &__trigger-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0; // temporary;
  }
  &__trigger-1 {
    left: 0;
  }
  &__scroll-indicator {
    position: absolute;
    z-index: 1;
  }
  &__trigger-2 {
    right: 0;
  } 
}